/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

[ng-app="mahjongLearnAppApp"] {
	background: url('../images/mat.jpg') 0px -100px no-repeat;
	background-size: 100%;
	
}
.header-navbar {
	padding: 0px 20px;	
}
header div.header-left {
	float: left;
}
header div.header-right {
	float: right;
}
article.content-page {
	float: left;
	width: 100%;
}
div.title h1 {
	font-size: 28px;
	font-weight: bold;
}
div.home-questions {
	padding: 20px 20px;
	font-size: 19px;
}
div.home-before-legend {
	padding: 20px 40px;
	font-size: 24px;
	font-weight: bold;
}
div.home-legend {
	padding: 30px 10px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 4px;
	border: 1.5px dashed black;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
div.before-footer {
	clear: both;
	padding-top: 50px;
	width: 50%;
}
div.legend-texts {
	padding: 20px 0;
}
div.history-texts {
	padding: 30px 0px;
}
div.equipment-texts  {
	display: block;
	padding: 20px 0px;
	float: left;
	width: 100%;
} 

div.history-texts span.decoration,
div.equipment-texts span.decoration {
	float: left;
	margin-right: 10px;
	display: inline-block;
	width: 210px;
	height: 139px;
	border-radius: 5px;
	background-size: 100% auto;
	background-repeat: no-repeat
}

span.centered {
	display: inline-block;
	height: 139px;
	width: 50%;
	padding-top: 30px;
}

div.history-texts span.centered {
	padding: 0;
}

/* === Tiles Page === */
div.tiles-description {
	float: left;
}
	.tiles-description span.text-only {
		margin: 5px 0px;
		display: block;
	}
	
div.tiles-ordered {
	width: 100%;
	float: left;
}
	.tiles-ordered div.suits {
		display: block;
		float: left; 
		margin: 0px 10px;
	}
	.suits.horizontal {
		width: 100%;
	}
	.suits.vertical {
		width: 30%;
	}
		.suits div.suit-name {
			float: left;
		}
		.horizontal .suit-name {
			width: 70px; 
		}
		.vertical .suit-name {
			width: 60px;
		}
		.suits div.suit-pieces {
			float: left
		}
			.suit-pieces ul {
				padding: 0px 5px;
			}
			.horizontal > .suit-pieces ul li {
				float: left;
			}
			.suit-pieces ul li {
				list-style-type: none;
				margin: 4px 0px;
				padding: 0;
				text-align: center;
			}
			.suit-pieces ul li span:first-child {
				float: left;
				display: inline-block;
				width: 100%;
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;
			}
	.tiles-ordered div.suits-additional {
		float: left;
		display: block;
		width: 100%;
		margin: 10px 0px;
	}
	.tiles-ordered div.honors {
		width: 100%;
		margin: 10px 0px;
		padding: 10px 0px;
		display: block;
		float: left;
	}
		.honors div.honor-name {
			width: 100%;
			display: block;
			text-align: center;
		}
		.honors div.honor-pieces {
			width: 100%;
			display: block;
			padding-bottom: 15px;
		}
			.honor-pieces ul {
				padding: 0px 5px;
			}
			.honor-pieces ul li {
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: inline;
				float: left;
			}
			.honor-pieces ul li span:first-child {
				float: left;
				display: inline-block;
				width: 100%;
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;
			}
			.honor-pieces li.isDragon  { width: 33%; text-align: center;  }
				.isDragon:nth-child(2) { text-align: center; }
				.isDragon:last-child   { text-align: right; }
			.honor-pieces li.isWind  { width: 25%; text-align: center; }
				.isWind:nth-child(2),
				.isWind:nth-child(3) { text-align: center; }
				.isWind:last-child   { text-align: right }

/* === Start Page === */
div.start-description {
	float: left;
	max-height: 75px;
}
	.start-description span.text-only {
		margin: 5px 0px;
		display: block;
	}
div.start-game-table {
	width: 100%;
	height: 300px;
	position: relative
}
	.start-game-table ul {
		padding: 0px 5px;
	}
		.start-game-table ul li {
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: inline;
			}
		.start-game-table li.not([class='']) span {	position: absolute; }
		.start-game-table li.scrambled0 span { z-index: 0;position: absolute;}
		.start-game-table li.scrambled1 span { z-index: 1;position: absolute;}
		.start-game-table li.scrambled2 span { z-index: 2;position: absolute;}
		.start-game-table li.scrambled3 span { z-index: 3;position: absolute;}
		.start-game-table li.scrambled4 span { z-index: 4;position: absolute;}
		.start-game-table li.scrambled5 span { z-index: 5;position: absolute;}
		.start-game-table li.scrambled6 span { z-index: 6;position: absolute;}
		.start-game-table li.scrambled7 span { z-index: 7;position: absolute;}
		.start-game-table li.scrambled8 span { z-index: 8;position: absolute;}
		.start-game-table li.scrambled9 span { z-index: 9;position: absolute;}
div.start-buttons {
	width: 100%;
	text-align: center;
	padding: 5px 0px;
	padding-top: 15px;
	margin-bottom: 35px;
	float: left;
}
	.start-game-table.wall { height: 600px; }
	.start-game-table.wall ul.seat1 { margin-top: 30px; position: relative; float: left; width: 50%; height: 50%;}
	.start-game-table.wall ul.seat2 { margin-top: 30px; position: relative; float: right; width: 50%; height: 50%;}
	.start-game-table.wall ul.seat3 { position: relative; float: left; width: 50%; height: 50%;}
	.start-game-table.wall ul.seat4 { position: relative; float: right; width: 50%; height: 50%;}
		.seat1 > li:not([class="seatName"]) { position: absolute; /*top: 75px;*/ }
		.seat1 > li.seatName { position: absolute; top: 0px; left: -30px; }
		.seat2 > li:not([class="seatName"]) { position: absolute; /*top: 75px; right: 0px*/}
		.seat2 > li.seatName { position: absolute; top: 0px; right: -30px; }
		.seat3 > li:not([class="seatName"]) { position: absolute; /*bottom: 60px */}
		.seat3 > li.seatName { position: absolute; bottom: 0px; left: -30px; }
		.seat4 > li:not([class="seatName"]) { position: absolute; /*right: 0px; bottom: 60px */}
		.seat4 > li.seatName { position: absolute; bottom: 0px; right: -30px; }
		
/* === Animations === */
.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
