<article class="content-page">
	<h1>{{ texts.title[language] }}</h1>

	<section class="contact-description">
		<span class="text-only" ng-repeat="description in texts.descriptionLittle[language].split('. ')">{{ description }}</span>
	</section>
	<section class="other-contact-methods">
		<div class="col-sm-{{ 12 / texts.otherContactMethods.length}} text-center" ng-repeat="contact in texts.otherContactMethods">
			<a href="{{contact.link}}">
				<span class="icon octicon {{contact.icon}}"></span>
				<span class="text">{{contact[language]}}</span>
			</a>
		</div>
	</section>
	<section class="contact-form">
		<form name="form" class="form-horizontal">
			<div class="form-group">
				<label for="name" class="control-label col-sm-2">{{ texts.form.name[language] }} (*)</label>
				<div class="col-sm-6">
					<input type="text" name="name" class="form-control" required
						ng-minlength="2" ng-model="contact.name">
				</div>
				<div class="col-sm-4"
					ng-show="form.name.$dirty && form.name.$invalid">
					<div ng-show="form.name.$error.required">{{ texts.form.name.error.required[language] }}</div>
					<div ng-show="form.name.$error.minlength">{{ texts.form.name.error.minlength[language] }}</div>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="control-label col-sm-2">{{ texts.form.email[language] }} (*)</label>
				<div class="col-sm-6">
					<input type="email" name="email" class="form-control" required  ng-model="contact.email">
				</div>
				<div class="col-sm-4"
					ng-show="form.email.$dirty && form.email.$invalid">
					<div ng-show="form.email.$error.required">{{ texts.form.email.error.required[language] }}</div>
					<div ng-show="form.email.$error.email">{{ texts.form.email.error.email[language] }}</div>
				</div>
			</div>
			<div class="form-group">
				<label for="subject" class="control-label col-sm-2">{{ texts.form.subject[language] }} (*)</label>
				<div class="col-sm-6">
					<input type="text" name="subject" class="form-control" required
						ng-minlength="3" ng-model="contact.subject">
				</div>
				<div class="col-sm-4"
					ng-show="form.subject.$dirty && form.subject.$invalid">
					<div ng-show="form.subject.$error.required">{{ texts.form.subject.error.required[language] }}</div>
					<div ng-show="form.subject.$error.minlength">{{ texts.form.subject.error.minlength[language] }}</div>
				</div>
			</div>
			<div class="form-group">
				<label for="message" class="control-label col-sm-2">{{ texts.form.message[language] }}</label>
				<div class="col-sm-10">
					<textarea name="message" class="form-control" ng-model="contact.message" rows="4"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-6">
					<input type="reset" class="form-control btn btn-sm btn-default" value="{{ texts.form.reset[language]}}">
				</div>				
				<div class="col-xs-6">
					<input type="submit" class="form-control btn btn-sm btn-primary" value="{{ texts.form.send[language]}}">
				</div>				
			</div>
		</form>
	</section>
</article>
