<article class="content-page">	
	<h1>{{ texts.title[language] }}</h1>
	
	<section>
		<div class="home-questions" ng-repeat="q in texts.questions" ng-hide="visible">
			{{ q.text[language] }}
		</div>
		<div class="home-before-legend" ng-show="visibleBefLegend">
			{{ texts.beforeLegend[language]  }}
		</div>
		<div class="home-legend" ng-show="visibleLegend">
			{{ texts.legend[language] }}
		</div>
	</section>
	<section ng-social="">
		
	</section>
</article>
<ml-continue-button continue-visible="continueVisible" texts="texts.continue"></ml-continue-button>