<article class="content-page">
	<h2>{{ texts.title[language] }}</h2>
	
	<div class="start-description">
		<span class="text-only" ng-show="showFirstDescription"
			  ng-repeat="description in texts.preparationDescription[language].split('. ')">
			  {{ description }}
		</span>
		<span class="text-only" ng-show="showSecondDescription"
			  ng-repeat="description in texts.diceDescription[language].split('. ')">
			  {{ description }}
		</span>
		<span class="text-only" ng-show="showThirdDescription"
			  ng-repeat="description in texts.drawOrderDescription[language].split('. ')">
			  {{ description }}
		</span>
		<span class="text-only" ng-show="showFourthDescription">
			{{ texts.currentDrawOrder.first[language] }} <strong>{{diceToDraw}}</strong>{{ texts.currentDrawOrder.second[language] }} <strong>{{texts.windsOrder[startingSeatToDrawFrom.wind][language] }}</strong>
			{{ texts.currentDrawOrder.third[language] }} <strong>{{diceToDraw | postfix}}</strong>
			{{ texts.currentDrawOrder.fourth[language] }}
		</span>
		<span class="text-only" ng-show="showFourthDescription"
			  ng-repeat="description in texts.drawAfterDiceDescription[language].split('. ')">
			  {{ description }}
		</span>		
	</div>
	<div class="start-game-table" ng-show="scrambledTiles.length">
		<div class="start-buttons" ng-show="myDebugMode">
		<button ng-click="toggleFlip()">Flip</button>
		<button ng-click="shuffle(true)">Shuffle</button>
		<button ng-click="order()">Order wall</button>
		</div>
		<ul>
			<ml-tile ng-repeat="tile in scrambledTiles track by $index | shuffleStart"
				tile="tile.name" size="medium"
				are-flipped="areFlipped" is-dora="tile.attr.dora"></ml-tile>
		</ul>
	</div>
	<div class="start-game-table wall" ng-show="seatWalls.length">
		<div class="start-buttons" ng-show="myDebugMode">
		<button ng-click="toggleFlip()">Flip</button>
		<button ng-click="fullSeatDiceThrow()" ng-hide="!showSecondDescription">Roll Dice</button>
		<button ng-click="drawDiceThrow()" ng-show="showThirdDescription && !showFourthDescription">Roll Dice for Order</button>
		<button ng-click="drawTiles()" ng-show="showFourthDescription">Draw Tiles</button>
		</div>
		<ul ng-repeat="seat in seatWalls" class="{{ 'seat' + ($index + 1) }}">
			<li class="seatName">
				<span ng-show="($index + 1) == 3" ng-class="{'yourSeat': ($index + 1) == 2}">{{ texts.yourSeat[language] }}</span>				
				<span class="seatIndicator" ng-show="seats.length">{{texts.windsOrder[seats[$index].wind][language]}}</span><br/>
				<span ng-show="seats.length">{{texts.orderLabel[language]}}: </span><span ng-show="seats.length">{{seats[$index].order + 1}}</span>
			</li>
			<ml-tile ng-repeat="tile in seat track by $index" tile="tile.name" 
				size="medium" seat="$parent.$index" are-flipped="areFlipped" is-dora="tile.attr.dora"
				ng-style="getTilesWallPosition($parent.$index, $index)"></ml-tile>
		</ul>
	</div>
	<div style="clear: both"></div>
</article>
<ml-continue-button continue-visible="continueVisible" texts="texts.continue"></ml-continue-button>