<article class="content-page">
	<h2>{{ texts.titlePlayers[language] }}</h2>
	<div class="table-players">
		<span>{{ texts.playersLegend[language] }}</span>
	</div>
	<h2>{{ texts.titleTable[language] }}</h2>
	<div class="table-equipment">
		<h3>{{ texts.equipmentTitle[language] }}</h3>
		<div class="equipment-texts" ng-repeat="e in texts.equipment" ml-complement-image localized="e.text">
		</div>
	</div>
</article>
<ml-continue-button continue-visible="continueVisible" texts="texts.continue"></ml-continue-button>