<article class="content-page">
	<h2>{{ texts.titlePlayers[language] }}</h2>
	<div class="table-players">
		<span>{{ texts.playersLegend[language] }}</span>
	</div>
	<h2>{{ texts.titleTable[language] }}</h2>
	<div class="table-equipment">
		<h3>{{ texts.equipmentTitle[language] }}</h3>
		<div class="equipment-texts" data-ng-repeat="e in texts.equipment" data-mahjong-complement-image data-localized="e.text">
			<span data-ng-transclude></span>
		</div>
	</div>
</article>
<div data-mahjong-continue-button></div>