<article class="content-page">
	<h2>{{ texts.title[language] }}</h2>
	
	<div class="tiles-description">
		<span class="text-only" 
			  ng-repeat="description in texts.suitsDescription[language].split('. ')">{{ description }}<br/>
		</span>
	</div>
	<div class="tiles-ordered">
		<div class="suits" ng-repeat="suit in tiles.suitsNumbered">
			<div class="suit-name"><span>{{suit.name[language]}}:</span></div>
			<div class="suit-pieces">
				<ul>
					<ml-tile ng-repeat="piece in suit.pieces" 
					         tile="piece.name" show-name="true" size="large">
					</ml-tile>
				</ul>
			</div>
		</div>
		<div class="suits-additional">
			<span class="text-only" 
				  ng-repeat="description in texts.suitsAdditional[language].split('. ')">{{ description }}<br/>
			</span>
		</div>
	</div>
	<div class="tiles-description">
		<span class="text-only"
			  ng-repeat="description in texts.honorsDescription[language].split('. ')">{{ description }}</span>
	</div>
	<div class="tiles-ordered">
		<div class="honors" ng-repeat="honor in tiles.honors">
			<div class="honor-name"><span>{{ honor.name[language] }}</span></div>
			<div class="honor-pieces">
				<ul>
					<ml-tile ng-repeat="piece in honor.pieces"
						is-wind="piece.attr.wind" is-dragon="piece.attr.dragon"
						tile="piece.name" show-name="true" size="large">
					</ml-tile>
				</ul>
			</div>
		</div>
		<div class="suits-additional">
			<span class="text-only" 
				  ng-repeat="description in texts.honorsAdditional[language].split('. ')">{{ description }}<br/>
			</span>
		</div>
	</div>
	<div class="tiles-description">
		<!-- <span class="back large"></span> -->
		<span class="text-only" 
			  ng-repeat="description in texts.preparationAdditional[language].split('. ')">{{ description }}<br/>
		</span>
	</div>
	<div style="clear: both"></div>
</article>
<ml-continue-button continue-visible="continueVisible" texts="texts.continue"></ml-continue-button>